In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data_set_utf8.csv")

In [46]:
print(df.isna().sum().sort_values(ascending=False))
# print(df.isna().sum())

finish_condition    5865
building_type       4338
floor_number        2114
prod_year           1363
district             360
price                295
price_per_m2         294
floor                260
room_number            0
flat_surface_m2        0
market                 0
dtype: int64

In [47]:
df.dtypes
df.describe()
df.count

<bound method DataFrame.count of            district      price  price_per_m2  floor  floor_number  prod_year  \
2      Stare Miasto   459000.0        9592.0    4.0           7.0     2022.0
3      Stare Miasto  7500000.0       35361.0    8.0           9.0     2016.0
5            Krzyki  5245000.0       23106.0   20.0          48.0     2012.0
6            Krzyki  4800000.0       27195.0   20.0          48.0     2012.0
9      Stare Miasto  3582800.0       20000.0    9.0          10.0     2021.0
...             ...        ...           ...    ...           ...        ...
15030     Fabryczna   362313.0        7100.0    1.0           4.0     2020.0
15031        Krzyki   362063.0        7575.0    5.0           NaN     2021.0
15032     Fabryczna   362000.0        7094.0    1.0           4.0        NaN
15034     Fabryczna   361900.0        6933.0    0.0           2.0     2021.0
15035     Fabryczna   360000.0        9424.0    1.0           4.0     2021.0

          market    building_type finish_condition  flat_surface_m2  \
2      pierwotny  apartamentowiec   do wykończenia            47.85
3      pierwotny  apartamentowiec  do zamieszkania           212.10
5      pierwotny  apartamentowiec   do wykończenia           227.00
6      pierwotny  apartamentowiec   do wykończenia           176.50
9      pierwotny  apartamentowiec   do wykończenia           179.14
...          ...              ...              ...              ...
15030  pierwotny              NaN   do wykończenia            51.03
15031  pierwotny  apartamentowiec              NaN            47.80
15032  pierwotny             blok              NaN            51.03
15034  pierwotny  apartamentowiec   do wykończenia            52.20
15035  pierwotny              NaN              NaN            38.20

       room_number
2                2
3                4
5                5
6                4
9                6
...            ...
15030            2
15031            3
15032            2
15034            3
15035            2

[9358 rows x 11 columns]>

In [27]:
def missing(dff):
    print (round((dff.isnull().sum() * 100/ len(dff)),2).sort_values(ascending=False))

missing(df)

finish_condition    62.67
building_type       46.36
floor_number        22.59
prod_year           14.57
district             3.85
price                3.15
price_per_m2         3.14
floor                2.78
room_number          0.00
flat_surface_m2      0.00
market               0.00
dtype: float64

In [36]:
# df.id.unique()
# df.district
# df.price.mode()
# (df.price_per_m2)
# df.floor
# df.floor_number.unique()
df[df.prod_year == 1]
# df[df.price < 100000]
# nona = 0
# for i in df.rent.notna():
#     if i:
#         nona+=1
# print(nona)
# len(df[df['rent'] < 900])
# df2 = df[df.market == 'wtórny'].index
# df.drop(index=df2, inplace=True)
# df.market
# df.building_type.unique()
# df.finish_condition.unique()
# df.flat_surface_m2
# df.room_number

Empty DataFrame
Columns: [district, price, price_per_m2, floor, floor_number, prod_year, market, building_type, finish_condition, flat_surface_m2, room_number]
Index: []

In [45]:
# df.loc[df['price'].isna()]
df

,district,price,price_per_m2,floor,floor_number,prod_year,market,building_type,finish_condition,flat_surface_m2,room_number
2,Stare Miasto,459000.0,9592.0,4.0,7.0,2022.0,pierwotny,apartamentowiec,do wykończenia,47.85,2
3,Stare Miasto,7500000.0,35361.0,8.0,9.0,2016.0,pierwotny,apartamentowiec,do zamieszkania,212.10,4
5,Krzyki,5245000.0,23106.0,20.0,48.0,2012.0,pierwotny,apartamentowiec,do wykończenia,227.00,5
6,Krzyki,4800000.0,27195.0,20.0,48.0,2012.0,pierwotny,apartamentowiec,do wykończenia,176.50,4
9,Stare Miasto,3582800.0,20000.0,9.0,10.0,2021.0,pierwotny,apartamentowiec,do wykończenia,179.14,6
...,...,...,...,...,...,...,...,...,...,...,...
15030,Fabryczna,362313.0,7100.0,1.0,4.0,2020.0,pierwotny,NaN,do wykończenia,51.03,2
15031,Krzyki,362063.0,7575.0,5.0,NaN,2021.0,pierwotny,apartamentowiec,NaN,47.80,3
15032,Fabryczna,362000.0,7094.0,1.0,4.0,NaN,pierwotny,blok,NaN,51.03,2
15034,Fabryczna,361900.0,6933.0,0.0,2.0,2021.0,pierwotny,apartamentowiec,do wykończenia,52.20,3
15035,Fabryczna,360000.0,9424.0,1.0,4.0,2021.0,pierwotny,NaN,NaN,38.20,2

In [ ]:
pd.set_option('display.max_colwidth', -1)
df[df['district'].isna()]

In [ ]:
df1 = df.dropna(thresh=9)
(df1[df['district'].isna()])

#### Id

In [6]:
df['id'] = df['id'].apply(lambda x: x.split('_')[1])

#### district

In [7]:
df['district'] = df['district'].apply(lambda x: np.NaN if x.split(',')[1].strip() == 'dolnośląskie' 
                                      else x.split(',')[1].strip().replace("Rynek","Stare Miasto").replace("Nadodrze","Śródmieście"))

#### Price

In [8]:
df['price'] = df['price'].apply(lambda x: pd.to_numeric(x.split(' z')[0].strip().replace(' ', '').replace(',','.')) 
                                if x.lower() != 'zapytaj o cenę' else np.NaN)

#### Price per m2

In [9]:
df['price_per_m2'] = df['price_per_m2'].apply(lambda x: pd.to_numeric(x.split('z')[0].strip().replace(' ','')) 
                                              if pd.notna(x) else np.NaN)

#### Floor

In [10]:
df['floor'] = df['floor'].apply(lambda x: pd.to_numeric(x.split(':')[1].strip().replace('parter','0').replace('suterena','-1').replace('poddasze','3').replace('> 10','20')) 
                                if pd.notnull(x) or x == '> 10' else np.NaN)

#### Floor number

In [11]:
df['floor_number'] = df['floor_number'].apply(lambda x: pd.to_numeric(x.split(':')[1].strip()) if pd.notnull(x) else np.NaN)

#### Production Year

In [12]:
df['prod_year'] = df['prod_year'].apply(lambda x: pd.to_numeric(x.split(':')[1].strip()) if pd.notnull(x) else np.NaN)

#### Rent

In [13]:
df['rent'] = df['rent'].apply(lambda x: int(x.split(':')[1].split('z')[0].replace(' ','').replace(',','').strip()) 
                              if pd.notnull(x) else np.NaN)

#### Market

In [14]:
df['market'] = df['market'].apply(lambda x: x.split(':')[1].strip() if pd.notnull(x) else np.NaN)

#### Building Type

In [15]:
df['building_type'] = df['building_type'].apply(lambda x: x.split(':')[1].strip() if pd.notnull(x) else np.NaN)

#### Finish Condition

In [16]:
df['finish_condition'] = df['finish_condition'].apply(lambda x: x.split(':')[1].strip() if pd.notnull(x) else np.NaN)

#### Flat Surface m2

In [17]:
df['flat_surface_m2'] = df['flat_surface_m2'].apply(lambda x: pd.to_numeric(x.split('m')[0].replace(',','.').strip()) 
                                                    if pd.notnull(x) else np.NaN)

#### Room Number

In [18]:
df['room_number'] = df['room_number'].apply(lambda x: pd.to_numeric(x.split(' ')[0].strip().replace('>10','3')) if pd.notnull(x)  else np.NaN)

In [ ]:
df = df.drop(axis=1,labels=['finish_condition','rent'])
# filtered_df = df[df[['rent', 'finish_condition', 'building_type', 
#                      'prod_year','floor_number','district','floor','price','price_per_m2']].notnull().all(1)]
df2 = df[df[['prod_year','floor_number','building_type','district','floor','price','price_per_m2']].notnull().all(1)]
len(df2)

In [ ]:
def rmissingvaluecol(dff,threshold):
    l = []
    l = list(dff.drop(dff.loc[:,list((100*(dff.isnull().sum()/len(dff.index))>=threshold))].columns, 1).columns.values)
    print("# Columns having more than %s percent missing values:"%threshold,(dff.shape[1] - len(l)))
    print("Columns:\n",list(set(list((dff.columns.values))) - set(l)))
    return l


rmissingvaluecol(df,50)

In [ ]:
pd.set_option('display.max_rows', df.shape[0]+1)

In [ ]:
len(df[df.isna().any(axis=1)])

In [ ]:
len(df2[df2.isna().any(axis=1)])

In [ ]:
print(df2.isna().sum())

In [24]:
df = df.drop(columns=['rent','id'])

In [ ]:
df = df.dropna()

In [ ]:
df2 = df2.dropna()

In [ ]:
len(df2.floor)